* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fdf6f9;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #e27aa7;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #e27aa7;
}

.active {
  color: #e27aa7;
  border-bottom: 2px solid #e27aa7;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
}

.hero p {
  font-size: 18px;
  color: #555;
}

/* PRICING */
.pricing {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 20px;
}

.price-card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.price-card h3 {
  color: #e27aa7;
  margin-bottom: 15px;
}

.price-card p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.price-card ul {
  list-style: none;
  padding: 0;
}

.price-card ul li {
  margin-bottom: 10px;
}

.price-card:hover {
  transform: scale(1.05);
}
