/* FEATURES SECTION */
.features {
  padding: 80px 20px;
  text-align: center;
  background: white;
}

.features h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.feature-box {
  max-width: 300px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  background: #fdf6f9;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature-box:hover {
  transform: translateY(-5px);
}

/* CALL TO ACTION */
.cta {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #f8cdda, #fbd3e9);
}
.hero {
  text-align: center;
  padding: 140px 20px;
  background: linear-gradient(135deg, #ffe3f0, #fff);
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: #e27aa7;
  border-radius: 50%;
  top: -100px;
  right: -100px;
  opacity: 0.15;
}

.cta h2 {
  margin-bottom: 25px;
}
